@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
.body {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section1 {
  width: 100vw;
  height: 100vh;
  background-image: url("https://jevelin.shufflehound.com/landing/wp-content/uploads/sites/6/2016/05/Home_11_img_1.jpg");
  /* background-position: center; */
}

nav {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  padding: 30px 150px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.195);
}

nav div:last-child i {
  padding-right: 40px;
}

.container1 {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.container1 h1 {
  color: aliceblue;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 25px;
}
.container1 h1 span {
  color: #47c9e5;
  font-family: "Kalam", cursive;
  font-size: 26px;
  font-weight: 700;
}

.container1 p {
  color: rgb(220, 220, 220);
  font-family: "Kalam", cursive;
  font-size: 20px;
  margin: 25px;
}

.formDiv div input {
  padding: 20px 30px;
  margin: 10px 0px;
  border-radius: 35px;
  border: none;
}

.formDiv button {
  width: 100%;
  background-color: #47c9e5;
  border-radius: 100px;
  padding: 20px;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.formDiv .emailInputDiv input {
  width: 100%;
}
.c1 {
  /* border: 1px solid rgb(120, 117, 117); */
  border-radius: 20px;
  width: 30%;
  height: 400px;
  padding: 50px;
  font-size: 20px;
  margin: 10px;
  /* background-color: rgb(227, 230, 233); */
}
#b1 {
  text-align: center;
  border-radius: 20px;
  padding: 15px;
  width: 55%;
  margin-left: 20px;
}
i {
  padding: 20px;
  margin-left: 25px;
}
.section2 {
  background-color: white;
  width: 80vw;
  height: 500px;
  margin: 10vh auto;
  margin-top: -100px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.c1:hover {
  border: 1px solid rgb(198, 17, 129);
  transform: translateY(-10px);
  box-shadow: 1px 1px 80px black;
}
.section3 {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.d1 {
  /* width:20%; */
  height: 20vh;
  transition: all 2s;
}
.d1:hover {
  transform: translateY(-10px);
}
.d2 {
  height: 30vh;
  padding: 50px;
  margin-top: 150px;
}
#b2 {
  border-radius: 20px;
  width: 40%;
  height: 50px;
  margin-left: 70px;
  background-color: rgb(74, 190, 228);
  color: white;
  font-size: 18px;
}
.section4 {
  background-image: url("https://jevelin.shufflehound.com/landing/wp-content/uploads/sites/6/2016/05/Home_10_img_3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
  margin-top: 50vh;
}
.e1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50%;
  margin: 300px;
  text-align: center;
}
.e2 {
  display: flex;
  gap: 30px;
}
#s {
  padding: 40px;
  font-size: 30px;
  color: azure;
}
.section5 {
  width: 80vw;
  margin-top: 500px;
  margin: 10vh auto;
  margin-left: 300px;
  display: flex;
  gap: 100px;
}
.section6 {
  display: flex;
  padding: 30px;
  /* margin:5vh ; */
  gap: 20px;
  width: 93%;
  margin-left: 30px;
}
.f2 {
  display: flex;
  gap: 20px;
}
.f3 {
  width: 1px;
  height: 3vh;
}
.f1 {
  width: 30%;
  padding: 10px;
  height: 50vh;
}
.section7 {
  background-color: white;
  padding: 30px;
  margin-top: 250px;
  display: flex;
  justify-content: space-around;
}
.section8 {
  display: flex;
  justify-content: center;
  background-color: rgb(246, 242, 242);
  padding: 40px;
}

@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }

  nav {
    padding: 20px;
  }

  .container1 h1 {
    font-size: 22px;
    text-align: center;
    padding: 0 20px;
  }

  .container1 p {
    font-size: 16px;
    text-align: center;
  }

  .formDiv div input {
    width: 100%;
    padding: 15px;
  }

  .formDiv button {
    padding: 15px;
  }
  .section2 {
    flex-direction: column;
    width: 95vw;
    height: auto;
    padding: 30px 0;
  }

  .c1 {
    width: 80%;
    height: auto;
    margin: 15px 0;
    text-align: center;
  }

  #b1 {
    width: 70%;
    margin: auto;
  }

  #s1 {
    margin: 20px;
    font-size: 20px;
  }
  .section3 {
    flex-direction: column;
    padding: 20px;
    gap: 30px;
  }

  .d1 img {
    width: 90%;
  }

  .d2 {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  #b2 {
    width: 60%;
    margin: auto;
  }
  .section4 {
    height: auto;
    padding: 30px 10px;
  }

  .e1 {
    width: 100%;
    margin: 0;
  }
  .section5 {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 40px auto;
  }

  #l3 {
    width: 45%;
  }
  .section6 {
    flex-direction: column;
    margin: 10px;
  }

  .f1 {
    width: 100%;
    height: auto;
  }

  .f2 {
    flex-direction: column;
    text-align: center;
  }

  .f3 img#l5 {
    width: 90%;
    margin: auto;
  }
  .section7 {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .section8 {
    flex-direction: row;
    gap: 15px;
  }

  #i {
    font-size: 25px;
  }
}
